<h1>Join Slack Team</h1>
<div class="row explanation">
  Please fill out the form below to join the Slack team: <strong><%= @team_name %></strong>
</div>
<div class="row">
<form action="/get_invite" method="post">
  <div>
    <label for="user_email">Email: </label>
    <input type="email" name="user[email]" id="user_email" value="" placeholder="Enter your email" />
  </div>
  <div>
    <label for="user_name">First name: </label>
    <input type="text" name="user[name]" id="user_name" value="" placeholder="(or nickname)" />
  </div>
  <% if @passphrase %>
    <div>
    <label for="passphrase">Passphrase: </label>
    <input type="password" name="passphrase" id="passphrase" value="" /> The passphrase you were given
  </div>
<% end %>
<div>
  <input type="submit" />
</div>
</form>
</div>
