<h1>Join Slack Group</h1>
<form action="/get_invite" method="post">
  <label for="user_email">Email: </label>
  <input type="text" name="user[email]" id="user_email" value="" placeholder="Enter your email" />
  <label for="user_nick">Nickname: </label>
  <input type="text" name="user[nick]" id="user_nick" value="" placeholder="Desired nick (no promises!)" />
  <input type="submit" />
</form>
