<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Join Slack Team</title>
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
  </head>
  <body>
  <%= yield %>
  </body>
</html>
